* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    background-color: rgb(36, 32, 32);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color:rgb(36, 32, 32);
    background-color: #39a6b2;
}

header a {
    text-decoration: none;
    font-size: 24px;
}

header h1 a {
    display: flex;
    margin: 20px;
    padding: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 5px solid #39a6b2;
    color: #39a6b2
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.title-font {
    color:rgb(36, 32, 32);
}

.hero {
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    height: 179px;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    line-height: 11;
}

.photo {
    width: 60px;
    height: 60px;
}

.primary-title {
    color: #fce136;
}

/* MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
}

/* MEDIA QUERY FOR TABLET SCREEN AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONE SCREEN AND SMALLER */
@media screen and (max-width: 575px) {

}