* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #39a6b2;
    --secondary-color: rgb(36, 32, 32);
    --tertiary-color: #fce138;
    --fourth-color: #fff;
}

body {
    background-color: rgb(44, 44, 44);
}

header {
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0px 15px;
    font-size: 36px;
    color:rgb(36, 32, 32);
    background-color: var(--primary-color);
    opacity: 0.5;
}

header h1:hover {
    opacity: 1;
}

header a {
    text-decoration: none;
    font-size: 24px;
    color: var(--primary-color);
}

header h1 a {
    display: flex;
    margin: 20px;
    padding: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--primary-color);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    opacity: 0.5;
    border-bottom: 5px solid var(--primary-color);
    display: flex;
    flex: 1;
}

header nav ul li a:hover {
    opacity: 1;
}

.title-font {
    color: var(--secondary-color);
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.hero {
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    height: 179px;
    display: flex;
    justify-content: flex-end;
}

.text-right {
    line-height: 11;
    margin: 30px;
    background-color: var(--primary-color);
    display: inline;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.photo {
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 159px;
    height: 186px;
    border: 5px solid var(--primary-color);
    border-radius: 15%;
}

p {
    color: var(--fourth-color);
}

.primary-title {
    color: var(--fourth-color);
    text-align: center;
}

.primary-title, .border-primary {
    border-bottom: 5px solid var(--primary-color);
}

.work-box {
    display: flex;
    flex-wrap: wrap;
}

.my-work {
    display: flex;
    flex: 1;
}

.run-buddy img {
    display: flex;
    opacity: 0.5;
    margin: 10px 10px 10px 10px;
    width: 274px;
    height: 200px;
    border: 5px solid var(--primary-color);
}

.run-buddy img:hover {
    opacity: 1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.code-refactor img {
    display: inline;
    flex-wrap: wrap;
    opacity: 0.5;
    margin: 10px 5px 5px 5px;
    height: 100px;
    border: 5px solid var(--primary-color);
}

.code-refactor img:hover {
    opacity: 1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.password-generator img {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
    margin: 10px 5px 5px 5px;
    height: 100px;
    border: 5px solid var(--primary-color);
}

.password-generator img:hover {
    opacity: 1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.phone-number-verifier img {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
    margin: 10px 5px 5px 5px;
    height: 100px;
    border: 5px solid var(--primary-color);
}

.phone-number-verifier img:hover {
    opacity: 1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.box-text {
    line-height: 1;
    color: var(--tertiary-color);
    position: absolute;
    bottom: -170px;
    left: 30px;
}

.box-text1 {
    line-height: 1;
    color: var(--primary-color);
    position: absolute;
    bottom: -75px;
    left: 310px;
}

.box-text2 {
    line-height: 1;
    color: var(--secondary-color);
    position: absolute;
    bottom: -75px;
    left: 468px;
}

.about-me-text {
    text-align: center;
}

.contact-info-text {
    text-align: center;
}

.contact-info a {
    color: var(--fourth-color);
}

.contact-info a:hover {
    color: #024e76;
}

.contact-info a:active {
    color: var(--primary-color);
}

.contact-info a:visited {
    color: var(--tertiary-color);
}

.second-link {
    color: var(--fourth-color);
}

.second link:hover {
    color: #024e76;
}

.second-link:active {
    color: var(--primary-color);
}

.second-link:visited {
    color: var(--tertiary-color);
}

/* MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;

    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        line-height: 1;
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer {
        font-size: 30px;
        text-align: center;
    }

    footer h4 {
        text-align: center;
    }

    .border-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header h1 {
        font-size: 10vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .run-buddy img {
        height: 263px;
        width: 439px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .code-refactor img {
        height: 150px;
        width: 236px;
        display: flex;
        flex-wrap: wrap;
    }

    .password-generator img {
        height: 150px;
        width: 236px;
        display: flex;
        flex-wrap: wrap;
    }

    .box-text {
        line-height: 1;
        color: var(--tertiary-color);
        position: absolute;
        bottom: 148px;
        left: 30px;
        font-size: 31px;
    }

    .box-text1 {
        line-height: 1;
        color: var(--primary-color);
        position: absolute;
        bottom: 255px;
        left: 478px;
        font-size: 30px;
    }

    .box-text2 {
        line-height: 1;
        color: var(--secondary-color);
        position: absolute;
        bottom: 357px;
        left: 719px;
        font-size: 25px;
    }


/* MEDIA QUERY FOR TABLET SCREEN AND SMALLER */
@media screen and (max-width: 768px) {
}


/* MEDIA QUERY FOR MOBILE PHONE SCREEN AND SMALLER */
@media screen and (max-width: 575px) {
}
}