* {
    font-family: Arial, Helvetica, sans-serif;
    flex: flex;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000dbb;
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 32px;
    background-color: cyan;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero {
    background-image: url("../images/stripes.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-text {
    background-color: cyan;
    background-position: right;
    align-items: right;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
}

.about-me h1 {
    font-weight: bold;
    font-size: 48px;
}

.about-me p {
    display: flex;
}

/* MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
}

/* MEDIA QUERY FOR TABLET SCREEN AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONE SCREEN AND SMALLER */
@media screen and (max-width: 575px) {

}